@charset "UTF-8";
@import url(reset.css);
@import url(style.css);
@import url(style2.css);
@import url(style3.css);
@import url(fonts.css);
body {
  background: #28272D; }

form {
  margin-top: 20px; }

.dd-padding-top {
  padding-top: 9px; }

h2 {
  font-family: "OpenSans-ExtraBold";
  font-weight: 700;
  font-size: 48px;
  color: #ffff; }

h3 {
  font-family: "OpenSans-Bold";
  font-size: 36px;
  font-weight: 700;
  color: #ffff; }

h4 {
  font-weight: 700;
  font-family: "OpenSans-Bold";
  line-height: 36px;
  font-size: 26px;
  color: #ffff; }

.button-1 {
  border: 2px solid white;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  font-family: "OpenSans-Regular";
  color: #fff;
  padding: 17px 28px; }

.my-input {
  border: 2px solid #e6e4e3;
  border-radius: 25px;
  text-align: center;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  color: #666;
  font-family: "OpenSans-Regular";
  padding: 0px 20px; }

.my-text-area {
  min-height: 120px;
  border: 2px solid #e6e4e3;
  border-radius: 25px;
  padding: 18px 28px;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  color: #666;
  font-family: "OpenSans-Regular"; }

.form-wrap-main {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 20px; }

.form-wrap-red {
  border: 2px solid #EF2E31;
  border-radius: 20px;
  padding: 38px 5px;
  text-align: center; }

.form-button {
  background-color: #ef2e31;
  background-image: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
  border-radius: 37px;
  box-shadow: 0 10px 20px rgba(239, 46, 49, 0.3);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  font-family: "OpenSans-Regular";
  color: #fff;
  padding: 10px 10px;
  display: inline-block; }

.form-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #ef2e31;
  font-family: "OpenSans-Regular"; }

.dd-form-txt {
  font-family: "OpenSans-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #666; }

.dd-min-txt-form {
  padding-top: 20px;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #666; }

.dd-padding-bottom {
  padding-bottom: 20px; }

.my-container {
  max-width: 1182px;
  margin: 0 auto; }

.dd-header-top-wrap {
  background: url("../img/dd-header.jpg") no-repeat top center;
  width: 100%; }
  .dd-header-top-wrap .my-container {
    max-width: 1182px;
    margin: 0 auto; }
    .dd-header-top-wrap .my-container .dd-man img {
      display: none; }
    .dd-header-top-wrap .my-container .dd-head-title {
      text-align: center; }
      .dd-header-top-wrap .my-container .dd-head-title .dd-h-size {
        font-size: 18px;
        color: #fff; }
        .dd-header-top-wrap .my-container .dd-head-title .dd-h-size span {
          color: red; }
      .dd-header-top-wrap .my-container .dd-head-title .dd-slogan span {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: #fff;
        font-family: "OpenSans-Regular"; }
        .dd-header-top-wrap .my-container .dd-head-title .dd-slogan span span {
          color: #FEC337; }
    .dd-header-top-wrap .my-container .dd-header-top {
      padding: 15px 0px;
      border-bottom: 2px solid #7C7B80; }
      .dd-header-top-wrap .my-container .dd-header-top ul li {
        display: inline-block;
        padding-left: 48px; }
        .dd-header-top-wrap .my-container .dd-header-top ul li a {
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          font-family: "OpenSans-Regular";
          color: #fff; }
        .dd-header-top-wrap .my-container .dd-header-top ul li a:hover {
          text-decoration: underline; }
      .dd-header-top-wrap .my-container .dd-header-top ul li:first-child {
        padding-left: 0px; }
      .dd-header-top-wrap .my-container .dd-header-top ul li:last-child {
        font-size: 20px;
        color: #fff;
        font-family: "OpenSans-Regular";
        font-weight: 400;
        float: right;
        margin-top: -5px; }
        .dd-header-top-wrap .my-container .dd-header-top ul li:last-child span {
          font-size: 20px;
          font-weight: 700; }
    .dd-header-top-wrap .my-container .dd-logo, .dd-header-top-wrap .my-container .dd-logo-info, .dd-header-top-wrap .my-container .dd-phone, .dd-header-top-wrap .my-container .dd-head-button {
      padding-bottom: 20px;
      text-align: center; }
    .dd-header-top-wrap .my-container .dd-logo {
      padding-top: 20px; }
    .dd-header-top-wrap .my-container .dd-logo-info {
      width: 250px;
      margin: 0 auto; }
      .dd-header-top-wrap .my-container .dd-logo-info span {
        font-family: "OpenSans-Regular";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #fff; }
    .dd-header-top-wrap .my-container .dd-phone span {
      font-family: "OpenSans-Regular";
      color: #fff;
      font-weight: 400;
      display: block; }
    .dd-header-top-wrap .my-container .dd-phone span:first-child {
      font-size: 16px; }
    .dd-header-top-wrap .my-container .dd-phone span:nth-child(2) {
      font-size: 20px;
      font-weight: 700; }
    .dd-header-top-wrap .my-container .dd-head-button a {
      display: inline-block;
      border: 2px solid #F35A33;
      border-radius: 25px;
      padding: 14px 36px;
      font-size: 14px;
      font-weight: 700;
      font-family: "OpenSans-Regular";
      color: #fff; }

#check_1 {
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 50px; }

.anz-perspective {
  position: fixed;
  top: 0px;
  height: 100%;
  -webkit-perspective: 500px;
  perspective: 500px;
  z-index: 150; }

#check_1:checked ~ .anz-perspective {
  transition: all 1s ease-in-out;
  left: 0px; }

#check_1 ~ .anz-perspective {
  transition: all 1s ease-in-out;
  left: -330px; }

#check_1:checked ~ .anz-perspective .menu-list-pressed {
  transition: all 1s ease-in-out;
  transform: rotateY(0deg); }

#check_1 ~ .anz-perspective .menu-list-pressed {
  transition: all 1s ease-in-out;
  transform: rotateY(90deg); }

.anz-menu-ch {
  cursor: pointer; }

/*╨║╨╛╨╜╨╡╤Ж menu*/
/*menu styles*/
.anz-menu {
  text-align: right; }
  .anz-menu .dd-mainmenu li a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "OpenSans-Regular";
    color: #fff; }
  .anz-menu .dd-mainmenu li a:hover {
    text-decoration: underline; }
  .anz-menu .dd-mainmenu li:last-child {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
    font-family: "OpenSans-Regular";
    font-weight: 400;
    float: right;
    margin-top: -5px; }
    .anz-menu .dd-mainmenu li:last-child span {
      font-size: 20px;
      font-weight: 700; }

.menu-list-pressed {
  border-radius: 10px;
  width: 228px;
  height: 100%;
  padding: 30px;
  line-height: 40px;
  background: #4A4950;
  opacity: 0.9;
  text-align: left; }

.anz-menu-ch {
  display: inline-block;
  width: 41px;
  height: 43px;
  font-size: 30px;
  position: fixed;
  top: 22px;
  right: 25px;
  z-index: 9999; }

.anz-menu-ch:hover {
  opacity: 0.3; }

.main-menu {
  text-align: left; }

.anz-menu-ch1 {
  display: inline-block;
  width: 41px;
  height: 43px;
  font-size: 30px;
  position: fixed;
  top: 0px;
  right: -8px;
  cursor: pointer; }

.anz-menu-ch1:hover {
  opacity: 0.8; }

.dd-neuspel-wrap {
  background: #323139;
  width: 100%;
  padding: 98px 0px; }
  .dd-neuspel-wrap .my-container .dd-neuspel {
    text-align: center; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-maska {
      display: none; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-bandit-button {
      display: none; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-new-h3 {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 30px;
      font-size: 24px;
      padding-bottom: 83px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-new-h3 span {
        color: red; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-table-neuspel {
      padding-bottom: 30px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-table-neuspel div:first-child span {
        font-family: "OpenSans-Regular";
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        color: #fff; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-table-neuspel div:last-child span {
        font-family: "OpenSans-Regular";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #fff; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-what-next img {
      margin: 0 auto; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-what-happend {
      width: 100%;
      margin: 0 auto;
      background: #1E1D22;
      border-radius: 50px;
      padding: 65px 50px 50px;
      margin-bottom: 20px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-what-happend img {
        margin: 0 auto; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-txt {
      padding-bottom: 26px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-txt span {
        font-family: "OpenSans-Regular";
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        color: #fff; }
    .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-button .form-button {
      width: 250px; }

@media only screen and (min-width: 480px) {
  .form-wrap-main {
    width: 480px;
    margin: 0 auto; } }
@media only screen and (min-width: 768px) {
  .dd-header-top-wrap {
    height: 990px; }
    .dd-header-top-wrap .my-container .dd-head-title {
      width: 600px;
      margin: 0px auto; }

  .dd-padding-bottom {
    padding-bottom: 26px; }

  .form-wrap-red {
    padding: 29px 5px; }

  .form-button {
    width: 340px;
    padding: 22px;
    display: inline-block; }

  .form-title {
    font-size: 24px;
    padding-top: 10px; }

  .dd-form-txt {
    width: 293px;
    margin: 0 auto; }

  .dd-min-txt-form {
    padding-top: 20px;
    width: 330px;
    margin: 0 auto; }

  .dd-input-wrap {
    padding-top: 4px;
    padding-bottom: 18px !important; }

  .my-input {
    width: 340px; } }
@media only screen and (min-width: 992px) {
  .dd-header-top-wrap {
    height: 1023px; } }
@media only screen and (min-width: 1200px) {
  .dd-neuspel-wrap {
    position: relative;
    background: url("../img/dd-bandit.jpg") no-repeat top center;
    background-size: cover; }
    .dd-neuspel-wrap .my-container .dd-neuspel {
      text-align: left; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-maska {
        display: block;
        position: absolute;
        right: 158px;
        top: -34px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-bandit-button {
        display: block;
        background: url("../img/play.png") no-repeat top center;
        width: 142px;
        height: 148px;
        position: absolute;
        right: 158px;
        top: -34px;
        right: 301px;
        top: 368px;
        transition: 0,5s; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-bandit-button:hover {
        background: url("../img/play2.png") no-repeat top center; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-new-h3 {
        font-size: 36px;
        line-height: 50px;
        padding-bottom: 65px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-table-neuspel {
        padding-bottom: 6px;
        display: table; }
        .dd-neuspel-wrap .my-container .dd-neuspel .dd-table-neuspel div {
          display: table-cell; }
        .dd-neuspel-wrap .my-container .dd-neuspel .dd-table-neuspel div:last-child {
          padding-left: 20px;
          width: 337px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-pb {
        padding-bottom: 23px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-what-next img {
        margin-left: 36px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-what-happend {
        display: none; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-txt {
        padding-bottom: 26px;
        padding-left: 14px; }
        .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-txt span {
          letter-spacing: 1px; }
      .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-button {
        display: inline-block;
        padding-left: 85px;
        text-align: center; }
        .dd-neuspel-wrap .my-container .dd-neuspel .dd-neuspel-button .form-button {
          width: 310px; }

  .form-wrap-main {
    float: right; }

  .dd-header-top-wrap {
    height: 890px; }
    .dd-header-top-wrap .my-container {
      position: relative; }
      .dd-header-top-wrap .my-container .dd-man {
        position: absolute;
        top: 70px; }
        .dd-header-top-wrap .my-container .dd-man img {
          display: block; }
      .dd-header-top-wrap .my-container .dd-head-title {
        width: 709px;
        float: right;
        text-align: right; }
        .dd-header-top-wrap .my-container .dd-head-title .dd-h-size {
          font-size: 48px;
          line-height: 54px;
          padding-bottom: 12px; }
        .dd-header-top-wrap .my-container .dd-head-title .dd-slogan {
          padding-bottom: 47px; }
      .dd-header-top-wrap .my-container .dd-logo, .dd-header-top-wrap .my-container .dd-logo-info {
        float: left;
        padding-bottom: 28px; }
      .dd-header-top-wrap .my-container .dd-logo-info {
        width: 322px; }
      .dd-header-top-wrap .my-container .dd-logo {
        padding-top: 9px;
        width: 341px;
        text-align: left; }
      .dd-header-top-wrap .my-container .dd-phone {
        float: left;
        text-align: right;
        padding-left: 109px; }
      .dd-header-top-wrap .my-container .dd-head-button {
        float: right;
        padding-top: 11px; } }

/*# sourceMappingURL=style4.css.map */
