@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";
.db-all-count{
	background-color: #28272e;
	color:#fff;
	text-align: center;
	font-family: "OpenSans-Regular";
	padding:20px 0px;

	.db-count-one{
		padding:20px 20px;
		.db-appeal{
			.db-apple-h2{
				margin-bottom:50px;
				font-size: 30px;
			}
		}
		.db-lorem{
			margin-bottom:50px;
			line-height: 30px;
			font-size:14px;
		}
		.db-fourth{
			text-align: center;
			margin-top:5px;			
			span{ 
				padding: 3px 2px 3px 2px;
				background-image: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
				border-radius:25px;
				z-index: 1;
				display: inline-block;
				a{
					font-family: "OpenSans-Regular";
					color:white;
					font-size:14px;
					background-color: #28272e;
					padding: 12px;
					border-radius:25px;
					z-index: 10;					
					display: inline-block;
					transition: all 0.5s;
					letter-spacing: 0.1em;
					
				}	
				a:hover{
					background: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
					transition: all 0.5s;
				}
			} 	 	 
		}
	}
	.db-count-two{
		padding:30px 0px 30px 0px;
		max-width: 580px;
		width: 100%;
		max-height: 465px;
		margin: 0 auto;
		.db-play{

			background-color: #1e1d22;
			border-radius: 20px;
			padding: 80px 0px;
			img{
				margin-top: 20px;
				display: inline-block;
				width:100px;
				height:100px;
			}
		} 
	}
}
@media only screen and (min-width : 320px) {
	
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
.db-all-count{
	padding: 150px 0 150px 0;
	
	.db-apple-h2{
		font-size: 35px !important;
	}

}
.db-lorem{
text-align: left;
padding: 15px 58px 0 29px;
width: 556px;
font-size: 16px !important;

	}



	.db-fourth{
	margin-top: -9px !important;
margin-left: 29px !important;
	a{
	width: 290px;
	font-size: 15px !important;
	}
}

.db-count-two{
	.db-play{
margin-left: 39px;
padding:150px 0px !important;
border-radius: 52px !important;
	img{
margin-top: 30px !important;
width:150px !important;
height:150px !important;
	}
}
}
}
@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}