.clear{
	clear: both;
}

//==========forfree

.df-bg{
	background:#28272e;
	width: 100%;
	padding-top:20px;
}
.df-free{
	text-align: center;
	h3{
		font-family: "OpenSans-ExtraBold";
		color:#fff;
	}
	.df-two-boxs{
		color:#ffffff;		
		padding: 20px 0px;
		text-align: center;
		margin: 0 auto;
		.df-box{
			display: inline-block;			
			margin: 0 auto;
			text-align: center;			
			vertical-align: top;			
			margin-bottom: 15px;
			padding: 0 7px;
			.df-img{			
				display: inline-block;			
			}
		}		
		span{			
			font-size: 16px;
			font-family: "OpenSans-Semibold";
			display: block;
			margin: 19px 0;
		}
		ul{
			// display: inline-block;
			display: block;
			// padding: 0 10px;
			max-width: 358px;
			width: 100%;
			li{
				font-size: 14px;
				// display: block;
				background: url(/img/df-li.png)no-repeat left top 8px;
				text-align: left;
				font-family: "OpenSans-Regular";
				padding-left: 30px;
				line-height: 25px;
				margin-bottom: -1px;
			}
		}
	}
}



//================questions
.df-bg-2{
	background:#1e1d22;
	width: 100%;
	padding-top:20px;
}
.df-questions{	
	margin-bottom: 100px;
	h3{
		text-align: center;
		margin: 71px 0 77px 0px;
		font-family: "OpenSans-ExtraBold";
		color:#fff;
	}
	.df-quest{
		margin-bottom: 60px;
		padding: 0 10px 0 10px;
		// padding: 0 104px 0 95px;
		.df-block1{
			padding: 20px 20px 21px 20px;
			border-bottom: 1px solid #28272e;
			a{
				display: block;
				font-size: 16px;
				color:#fff;
				padding-right:20px;
				font-family: "OpenSans-Bold";
				background: url(/img/df-galka.png)no-repeat center right;
			}
			a:active, a:focus { outline: none; }
			.dfgalka{
				background: url(/img/df-galka2.png)no-repeat center right;
			}
			p{
				display: none;
				color:#9fa3a7;
				font-size: 14px;
				font-family: "OpenSans-Regular";
				margin-top: 45px;
			}
			.df-text{
				display: block;
			}
		}
	}
	.df-b{
		text-align: center;
		padding: 0 20px;
		.df-button{
			// padding: 2px 2px 2px 2px;
			padding: 3px 3px 2.5px 3px;
			display: inline-block;
			background-image: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
			background-image: -webkit-linear-gradient(left, #ef2e31 0%, #fec337 100%);
			border-radius: 25px;
			z-index: 1;
			 
			a{
				color: white;
				font-size: 14px;
				background-color: #28272e;
				padding: 12px 29px;
				border-radius: 25px;
				z-index: 10;
				display: inline-block;
				transition: all 0.5s;
				letter-spacing: 0.1em;
				 font-family: "OpenSans-Bold";
			}
			a:hover{
				background: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
				transition: all 0.5s;
			}
		}
	}
}


//==========================COMMANDS

	.df-bg-3{
		background: url(/img/df-bg-3.jpg)repeat;
		width: 100%;		
	}
	.df-command{
		text-align: center;
		vertical-align: top;
		position: relative;
		h3{
			text-align: center;
			margin: 71px 0 77px 0px;
			font-family: "OpenSans-ExtraBold";
			color:#fff;
		}
		.df-man1{
			display: inline-block;
			text-align: center;
			margin-right: 0px;//20
			margin-bottom: 131px;			
			.df-img-man{

			}
			.df-span1{
				font-size: 16px;
				color:#fff;
				font-family: "OpenSans-Bold";
				margin: 12px 0;
			}
			span{
				display: block;
				font-family: "OpenSans-Regular";
				font-size: 14px;
				color: #9fa3a7;
				line-height: 24px;

			}		
		
		}
		.df-man1:last-child{			
			margin-right: 0px;
		}
	}
//===============command owl-carusel
.df-left{
	background: url(/img/df-left.png)no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 49px;
	left: 37%;
	transform:translate(-65%, 0);
	transition:background 0.5s;
	-webkit-transition: background 0.5s;
     -moz-transition:background 0.5s; 
     -o-transition:background 0.5s;
}
.df-right{
	background: url(/img/df-right.png)no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 49px;
	left: 64%;
	transform:translate(-50%, 0);
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
     -moz-transition: background 0.5s;
     -o-transition: background 0.5s;
}
.df-left:hover{
	background: url(/img/df-left2.png)no-repeat;
}
.df-right:hover{
	background: url(/img/df-right2.png)no-repeat;
}
.owl-dots{
	display: none;	
}


//=======================photos

.df-bg-4{
	background: url(/img/df-bg4.jpg)no-repeat center center;
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	text-align: center;	
	padding-bottom: 50px;
}
.df-photos{
	text-align: center;
	margin: 0 auto;
	h3{
		color:#fff;
		margin: 25px 0 25px 0;
		font-family: "OpenSans-ExtraBold";
	}
	.df-ph1{
		display: inline-block;		
		margin-bottom: 147px;
		img{
			width: 100%;
			height: auto;
		}
	}
}

//slider
.df-slider{
	.df-relative{
		position: relative;
		z-index: 1;
	}
	.df-relative:hover:before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        background: rgba(#1e1d22,0.9);
        z-index: 20;
    }
    .df-relative:hover:after{
			content:"";
            // position: absolute;
            // z-index: 40;
            .df-button{
            	display: inline-block ;        
            	// position: absolute;
            }
        }  
	.df-button{
		
		display:none;		
	 //   border-image: linear-gradient(to right, #ef2e31 0%, #fec337 100%) 1;
		background: url(/img/df-ramka.png)no-repeat center center;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		z-index: 100;
		position: absolute;	
		a{
		color: white;
		font-size: 14px;	
		padding: 17px 41px;
		border-radius: 25px;
		z-index: 10;
		display: inline-block;
		transition: all 0.5s;
		letter-spacing: 0.1em;
		font-family: "OpenSans-Bold";
		
	}
	a:hover{
		background: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
		transition: all 0.5s;
	}
}



}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	//for free
	.df-bg{
		background:#28272e;
		width: 100%;
		padding-top:124px;
	}

	.df-free{
		text-align: center;	
		margin: 0 auto;
		.df-two-boxs{
			text-align: center;				
			padding: 98px 0px;	
			ul{
						
			}
			
		}
	}

	//command

	.df-command{		
		h3{			
			margin: 71px 0 77px 0px;			
		}
		.df-man1{
			display: inline-block;
			text-align: center;
			margin-right: 20px;			
			margin-bottom: 142px;//0
		}
	}
	//===========photos
	.df-photos{	
		h3{			
			margin: 93px 0 72px 0;			
		}
	}

}

@media only screen and (min-width : 992px) {
	//for free
	.df-free{
		text-align: center;	
		margin: 0 auto;
		.df-two-boxs{
			text-align: center;				
			padding: 73px 0px;	//98
			ul{
				
			}			
		}
		.df-box:first-child{
			margin-right: 70px;//200
		}
	}

	//question
	.df-questions{
		.df-quest{
			padding: 0 104px 0 95px;
		}
		.df-b{		
			padding: 0px;
		}
	}

}

@media only screen and (min-width : 1248px) {
	//for free
	.df-free{	
		.df-box:first-child{
			margin-right: 200px;//200
		}
	}

	//command
		.df-container{
		width: 1220px !important;	
		margin: 0 auto;
	}

	//dots
	.owl-dots{
		position: absolute;
		left: 46%;
		transform:translate(0, -50%);
		bottom: 57px;
		margin-left: 27px;
	}
	.owl-dot{
		display:inline-block;	
	}

	.owl-dots span{		
		background: white;
		border-radius: 45%;
		// background:url(/img/df-dot1.png)no-repeat center center;
		width: 7px;
		height: 8px;
		// position: absolute;	
		display: inline-block;
		margin: 0 9px 0 0px;
		vertical-align: middle;
	}
	.active>span{
		width: 15px;height: 15px;
		background:url(/img/df-dot.png)no-repeat center center;
		
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}