@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "fonts.css";

body{
	background: #28272D;
}

.dd-padding-top{
	padding-top: 9px;
}

h2{
	font-family: "OpenSans-ExtraBold";
	font-weight: 700;
	font-size: 48px;
	color:#ffff;
}
h3{
	font-family: "OpenSans-Bold";
	font-size: 36px;
	font-weight: 700;
	color:#ffff;
}
h4{
	font-weight: 700;
	font-family: "OpenSans-Bold";
	line-height: 36px;
	font-size: 26px;
	color:#ffff;
}
.button-1{
	border: 2px solid white;
	border-radius: 25px;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	font-family: "OpenSans-Regular";
	color:#fff;
	padding: 17px 28px;
}

.my-input{
	border: 2px solid #e6e4e3;
	border-radius: 25px;
	text-align: center;
	background: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 48px;
	color: #666;
	font-family: "OpenSans-Regular";
	padding: 0px 20px;
}

.my-text-area{
	min-height: 120px;
	border: 2px solid #e6e4e3;
	border-radius: 25px;
	padding: 18px 28px;
	background: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 48px;
	color: #666;
	font-family: "OpenSans-Regular";
}
.form-wrap-main{
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	padding: 20px;
}
.form-wrap-red{
	border: 2px solid #EF2E31;
	border-radius: 20px;
	padding: 38px 5px;
	text-align:center;
}
.form-button{
	background-color: #ef2e31;
	background-image: linear-gradient(to right, #ef2e31 0%, #fec337 100%);
	border-radius: 37px;
	box-shadow: 0 10px 20px rgba(239, 46, 49, 0.3);
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	font-family: "OpenSans-Regular";
	color:#fff;
	padding: 10px 10px;
	display:inline-block;
}

.form-title{
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	color: #ef2e31;
	font-family: "OpenSans-Regular";
}
.dd-form-txt{
	font-family: "OpenSans-Regular";
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #666;
}
.dd-min-txt-form{
	padding-top:20px;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #666;
}
.dd-padding-bottom{
	padding-bottom:20px;
}
// Header top --


.dd-header-top-wrap{
	background: url('../img/dd-header.jpg') no-repeat top center;
	width: 100%;
	.my-container{
		max-width:1182px;
		margin: 0 auto;
		.dd-man{
			img{
				display: none;
			}
		}
		.dd-head-title{
			text-align: center;
			.dd-h-size{
				font-size: 18px;
				span{
					color:red;
				}
			}
			.dd-slogan{
				span{
					font-size: 18px;
					font-weight: 700;
					line-height: 24px;
					color:#fff;
					font-family: "OpenSans-Regular";
					span{
						color:#FEC337;
					}
				}
			}
		}
		.dd-header-top{
			padding: 15px 0px;
			border-bottom: 2px solid #7C7B80;
			// margin-bottom: 9px;
			ul{
				li{
					display: inline-block;
					padding-left:48px;
					a{
						font-size: 13px;
						font-weight: 700;
						text-transform: uppercase;
						font-family: "OpenSans-Regular";
						color:#fff;
					}
					a:hover{
						text-decoration: underline;
					}
				}
				li:first-child{
					padding-left:0px;
				}
				li:last-child{
					font-size: 20px;
					color:#fff;
					font-family: "OpenSans-Regular";
					font-weight: 400;
					float: right;
					margin-top: -5px;
					span{
						font-size: 20px;
						font-weight: 700;
					}
				}
			}
		}
		.dd-logo, .dd-logo-info, .dd-phone, .dd-head-button{
			padding-bottom:20px;
			text-align: center;
		}
		.dd-logo{
			padding-top: 20px;
		}
		.dd-logo-info{
			width: 250px;
			margin: 0 auto;
			span{
				font-family: "OpenSans-Regular";
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				color:#fff;
			}
		}
		.dd-phone{
			span{
				font-family: "OpenSans-Regular";
				color:#fff;
				font-weight: 400;
				display: block;
			}
			span:first-child{
				font-size: 16px;
			}
			span:nth-child(2){
				font-size: 20px;
				font-weight: 700;
			}
		}
		.dd-head-button{
			a{
				display: inline-block;
				border: 2px solid #F35A33;
				border-radius: 25px;
				padding: 14px 36px;
				font-size: 14px;
				font-weight: 700;
				font-family: "OpenSans-Regular";
				color:#fff;
			}
		}
	}
}

// Конец Header top --

#check_1{
	display: none;
	position: fixed;
	top: 25px;
	right: 25px;
	font-size: 50px; 
}
.anz-perspective{
	position: fixed;
	top: 0px;
	height: 100%;
	-webkit-perspective: 500px; 
	perspective: 500px;
	z-index: 150;
}

#check_1:checked ~ .anz-perspective{
	transition: all 1s ease-in-out;
	left: 0px;
}
#check_1 ~ .anz-perspective{
	transition: all 1s ease-in-out;
	left: -330px;
}
#check_1:checked ~ .anz-perspective .menu-list-pressed{
	transition: all 1s ease-in-out;
	transform: rotateY(0deg);
}
#check_1 ~ .anz-perspective .menu-list-pressed{
	transition: all 1s ease-in-out;
	transform: rotateY(90deg);
}
.anz-menu-ch{
	cursor: pointer;    
}

/*конец menu*/

/*menu styles*/
.anz-menu{
	text-align: right;
	.dd-mainmenu{
		li{
			a{
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;
				font-family: "OpenSans-Regular";
				color:#fff;
			}
			a:hover{
				text-decoration: underline;
			}
		}
		li:last-child{
			padding-top: 20px;
			font-size: 20px;
			color:#fff;
			font-family: "OpenSans-Regular";
			font-weight: 400;
			float: right;
			margin-top: -5px;
			span{
				font-size: 20px;
				font-weight: 700;
			}
		}

	}
}
.menu-list-pressed{
	border-radius:10px;
	width: 228px;
	height: 100%;
	padding: 30px;
	line-height: 40px;
	background: #4A4950;
	opacity: 0.9;
	text-align: left;
}
.anz-menu-ch{
	display: inline-block;
	width: 41px;
	height: 43px;
	font-size: 30px;
	position: fixed;
	top: 22px;
	right:25px;
	z-index: 9999;
}
.anz-menu-ch:hover{
	opacity: 0.3;
}
.main-menu{
	text-align: left;
}
.anz-menu-ch1{
	display: inline-block;
	width: 41px;
	height: 43px;
	font-size: 30px;
	position: fixed;
	top: 0px;
	right:-8px;
    // opacity: 0.4;
    cursor: pointer;
}
.anz-menu-ch1:hover{
	opacity: 0.8;
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.form-wrap-main{
		width: 480px;
		margin: 0 auto;
	}
}

@media only screen and (min-width : 768px) {

	.dd-header-top-wrap{
		height: 990px;
		.my-container{
			.dd-head-title{
				width: 600px;
				margin: 0px auto;
			}	
		}			
	}				
	.dd-padding-bottom{
		padding-bottom:26px;
	}
	
	.form-wrap-red {
		padding: 29px 5px;

	}
	.form-button{
		width: 340px;
		padding: 22px;
		display:inline-block;
	}

	.form-title{
		font-size: 24px;
		padding-top: 10px;
		// padding-bottom: 38px !important;
	}
	.dd-form-txt{
		width: 293px;
		margin: 0 auto;
	}
	.dd-min-txt-form{
		padding-top:20px;
		width: 330px;
		margin: 0 auto;
	}
	.dd-input-wrap{
		padding-top: 4px;
		padding-bottom: 18px !important;
	}
	.my-input{
		width: 340px;
	}
}

@media only screen and (min-width : 992px) {
	.dd-header-top-wrap {
		height: 1023px;
	}
}

@media only screen and (min-width : 1200px) {
	.form-wrap-main{
		float: right;
		// position:absolute;
	}
	.dd-header-top-wrap{
		height: 890px;
		.my-container{
			position:relative;
			.dd-man{
				position:absolute;
				top:89px;
				img{
					display: block;
				}
			}	
			.dd-head-title{
				width: 710px;
				float: right;
				text-align: right;
				.dd-h-size{
					font-size: 48px;
					line-height: 54px;
					padding-bottom: 12px;
				}
				.dd-slogan{
					padding-bottom: 47px;
				}
			}
			.dd-logo, .dd-logo-info{
				float:left;
				padding-bottom:28px;
			}
			.dd-logo-info{
				width: 322px;
			}
			.dd-logo{
				padding-top: 9px;
				width: 341px;
				text-align: left;
			}
			.dd-phone{
				float: left;
				text-align: right;
				// padding-left: 127px;
				padding-left: 109px;
			}
			.dd-head-button{
				float: right;
				padding-top: 11px;
			}
		}
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}