@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

.clear{
	clear: both;
}

//==========forfree

.dc-bg{
	padding: 25px 0px;
	background: url("../img/dc-auto.jpg") no-repeat top center;
	width: 100%;
}

.dc-scenaries{

	text-align: center;
	h3{
		font-family: "OpenSans-Bold";
		color:#fff;
	}
	h4{
		font-family: "OpenSans-ExtraBold";
		color:#fff;
	}
}

.dc-count-two {
    padding: 50px 0px 50px 0px;
}

.ford {
    top: 40%; 
    left: 35%; 
    position: absolute;
    color: white;
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 700;
    text-align:center
}

.round {
    top: 50%; 
    left: 45%; 
    position: absolute;
    width: 20px;
    height: 20px;
}

@media only screen and (min-width : 320px) {
    .ford {
        top: 40%; 
        left: 35%; 
	    position: absolute;
	    color: white;
	    font-family: OpenSans;
	    font-size: 10px;
	    font-weight: 700;
     }

     .round {
	    top: 50%; 
	    left: 45%; 
	    position: absolute;
	    width: 20px;
	    height: 20px;
    }
}

@media only screen and (min-width : 480px) {
    .ford {
        top: 40%; 
        left: 40%; 
	    position: absolute;
	    color: white;
	    font-family: OpenSans;
	    font-size: 14px;
	    font-weight: 700;
     }
     
     .round {
	    top: 50%; 
	    left: 47%; 
	    position: absolute;
	    width: 20px;
	    height: 20px;
    }
}

@media only screen and (min-width : 768px) {
    .ford {
        top: 40%; 
        left: 40%; 
	    position: absolute;
	    color: white;
	    font-family: OpenSans;
	    font-size: 16px;
	    font-weight: 700;
     }

     .round {
	    top: 50%; 
	    left: 45%; 
	    position: absolute;
	    width: 50px;
	    height: 50px;
    }
}

@media only screen and (min-width : 992px) {
	.dc-bg{
		padding: 15px 0px 15px 0px;
	}	
    .dc-count-two {
	    width: 100%;
    }

    .ford {
        top: 30%; 
        left: 45%; 
	    position: absolute;
	    color: white;
	    font-family: OpenSans;
	    font-size: 16px;
	    font-weight: 700;
     }

     .round {
	    top: 40%; 
	    left: 40%; 
	    position: absolute;
	    width: 134px;
	    height: 134px;
	}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}
