.clear{
	clear: both;
}

//==========forfree

.dc-bg{
	background-image: url("/img/dc-auto.jpg") no-repeat;
	width: 100%;
}

.dc-scenaries{
	text-align: center;
	h3{
		font-family: "OpenSans-ExtraBold";
		color:#fff;
	}
}